:root {
    --primaryColor: hsl(260,65%,44%);
    --secondaryColor: hsl(226,67%,59%);
    --gradientColor: linear-gradient(
      to right,
      hsl(226,67%,59%),
      hsl(260,65%,44%)
    );
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 225);
  }

.hotelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
   
     padding-top: 6rem;
  }
  
  .hotelWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .bookNow {
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  .locationIcon{
    font-size: 25px;
    color: var(--primaryColor) !important 
  }
  .hotelTitle {
    font-size: 24px;
  }
  
  .hotelAdress {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .hotelDistance {
    color: var(--primaryColor);
    font-weight: 500;
  }
  
  .hotelPriceHighlight {
    color: var(--blackColor);
    font-weight: 500;
  }
  
  .hotelImages {
  
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-between;
  }
  
  .hotelImageWrapper {
    width: 33%;
  }
  
  .hotelImage {
    width: 90%;
    height:90%;
    border-radius: 6px;
    ;
    object-fit: cover;
    cursor: pointer;
      transition: 2s ease;
  }
 

  .hotelImage:hover{
    transform: scale(0.9);
  }

  .locationDetails{

  }
  
  .hotelDetails {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
  
  .hotelDetailsTexts {
    flex: 3;
    border: 2px solid #d9dbdd;
    margin-bottom: 5rem;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .hotelDesc {
    font-size: 14px;
    margin-top: 20px;
  }
  
  .hotelDetailsPrice {
    flex: 1;
    border-radius: 6px;
   background: var(--cardBG);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 5rem;
  }

  
  .hotelDetailsPrice > h1 {
    font-size: 18px;
    color: #555;
  }
  .hotelDetailsPrice > span {
    font-size: 14px;
  }
  .hotelDetailsPrice > h2 {
    font-weight: 300;
  }

  
  /* .slider{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.613);
    z-index: 999;
    display: flex;
    align-items: center;
  }
  
  .sliderWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sliderImg{
    width: 80%;
    height: 80vh;
  }
  
  .close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
  }
  
  .arrow{
    margin: 20px;
    font-size: 50px;
    color: lightgray;
    cursor: pointer;
  } */